<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ygMerceDAO.Properties.Settings.RMSConnectionString"
            connectionString="Data Source=DESKTOP-2NROLE5;Initial Catalog=RMS;Persist Security Info=True;User ID=sa;Password=sys"
            providerName="System.Data.SqlClient" />
        <add name="ygMerceDAO.Properties.Settings.RMSConnectionString1"
            connectionString="Data Source=DESKTOP-2NROLE5;Initial Catalog=RMS;User ID=sa;Password=sys"
            providerName="System.Data.SqlClient" />
        <add name="ygMerceDAO.Properties.Settings.RMS1ConnectionString"
            connectionString="Data Source=DESKTOP-2NROLE5;Initial Catalog=RMS1;User ID=sa;Password=sys"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>