<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        
        <add name="ygMerceDAO.Properties.Settings.RMSConnectionString2"
            connectionString="Data Source=DESKTOP-2C4G40Q\SQL2019;Initial Catalog=RMS;User ID=sa;Password=sys"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>